.custom-shape-divider-top-1654475088 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1654475088 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 73px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1654475088 .shape-fill {
    fill: #423442;
}

.custom-shape-divider-bottom-1654475109 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1654475109 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 73px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1654475109 .shape-fill {
    fill: #423442;
}