.custom-shape-divider-top-1655862221 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1655862221 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 73px;
}

.custom-shape-divider-top-1655862221 .shape-fill {
    fill: #C41D6B;
}