@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One', cursive;
    box-sizing: border-box;
}
body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/media/background.svg);
    flex-direction: column;
    gap: 30px;
}
h1{
    font-size: 2.5rem;
    color: #fff;
}
p{
    text-align: center;
    font-size: 1.3rem;
    color: rgb(150, 150, 150);
}
.socials{
    display: flex;
    flex-direction: row;
}

.socials a{
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    padding: 10px 30px;
    transition: 0.5s;
}
.socials a:hover{
    letter-spacing: 0.25em;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 25px var(--clr);
}
.socials a::before{
    content: '';
    position: absolute;
    inset: 2px;
    background: #0c0c0c;
}
.socials a span{
    position: relative;
    z-index: 1;
}
.socials a i{
    position: absolute;
    inset: 0;
}
.socials  i::before{
    content: '';
    position: absolute;
    top: -3.5px;
    left: 80%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background: #0c0c0c;
    transform: translateX(-50%);
    transition: 0.5s;
}
.socials a:hover i::before{
    width: 20px;
    left: 20%;
}
.socials a i::after{
    content: '';
    position: absolute;
    bottom: -3.5px;
    left: 20%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background: #0c0c0c;
    transform: translateX(-50%);
    transition: 0.5s;
}
.socials a:hover i::after{
    width: 20px;
    left: 80%;
}

.but {
    float: left;
    margin-top: 35px;
    margin-left: 10px;
    justify-content: center;
    text-align: center;
    flex-direction: row;
  }

/* Media Queries */

@media (min-width:652px) and (max-width:1000px){
    .socials{
        flex-flow: wrap;
        align-items: center;
        justify-content: space-evenly;
        
    }
    /* .one{
        flex-direction:column;
        align-items: center;
    }
    .two{
        flex-direction:column;
        align-items: center;
    } */
}
@media (min-width:200px) and (max-width:652px){
    .socials{
        flex-direction: column;
        /* flex-flow: wrap;
        align-items: center;
        justify-content: space-evenly; */
        
    } 
}